*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background-image:url("img/image2.PNG");
    background-size:cover;
    background-repeat:no-repeat;
}

/* MAIN CONTAINER */
.container{
    width:98%;
    margin:5px auto;
    border:2px solid black;
}

/* NAVBAR */
.navbar{
    background:black;
    text-align:center;
    padding:6px 0;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin:0 45px;
    font-weight:bold;
}

/* BANNER */
.banner img{
    width:100%;
    height:85px;
    display:block;
    border-top:2px solid black;
    border-bottom:2px solid black;
}

/* MAIN LAYOUT */
.main{
    display:flex;
}

/* LEFT SIDEBAR */
.left-sidebar{
    width:25%;
    padding:15px;
    border-right:2px solid black;
    display:flex;
    justify-content:center;
}

.left-box{
    border:2px solid #cfcfcf;
    padding:10px;
    background:white;
}

.left-box img{
    width:260px;
}

/* MIDDLE + RIGHT WRAPPER (ONE BORDER) */
.middle-right-wrapper{
    width:75%;
    display:flex;
    border-left:2px solid black;
    border-bottom:2px solid black;
}

/* MIDDLE SIDEBAR */
.middle-sidebar{
    width:32%;
    padding:15px;
    border-right:2px solid black;
}

/* PRODUCT BOX */
.product-box{
    border:2px solid black;
    margin-bottom:20px;
    text-align:center;
    padding:10px;
}

.product-box h3{
    color:white;
    margin-bottom:10px;
}

.product-box img{
    width:220px;
    display:block;
    margin:0 auto;
}

/* RIGHT CONTENT */
.right-content{
    width:68%;
    background:#ddd;
    padding:15px;
}

/* DESCRIPTION */
.description{
    border-bottom:2px solid black;
    padding-bottom:10px;
}

.description ul{
    margin-left:20px;
    margin-top:5px;
}

/* FORM */
.form-section{
    margin-top:10px;
}

.form-section input{
    margin:4px 0;
}

/* FOOTER TITLE */
.footer-title{
    text-align:center;
    color:white;
    font-weight:bold;
    padding:6px;
    border-top:2px solid black;
}

/* FOOTER */
.footer{
    display:flex;
    border-top:2px solid black;
}

.social-box{
    width:25%;
    background:#eee;
    border-right:2px solid black;
    padding:10px;
}

.social-box:last-child{
    border-right:none;
}

.social-box img{
    width:40px;
    vertical-align:middle;
}

.social-box a{
    margin-left:10px;
}
