body {
    margin: 0;
    font-family: Arial;
    background-image: url("img/image2.PNG");
    background-size: cover;
}

/* Main Container */
.container {
    width: 95%;
    margin: auto;
    border: 2px solid black;
}

/* Navbar */
.navbar {
    background: black;
    text-align: center;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 40px;
    font-weight: bold;
}

/* Banner */
.banner img {
    width: 100%;
    height: 100px;
}

/* Main Layout */
.main {
    display: flex;
}

/* Left Sidebar */
.left-sidebar {
    width: 25%;
    padding: 10px;
}

.left-box {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}

.left-box img {
    width: 100%;
}

/* Middle Sidebar */
.middle-sidebar {
    width: 20%;
    padding: 10px;
}

.product-box {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    background: #0a4a7a;
    color: white;
}

.product-box img {
    width: 100%;
    margin-top: 10px;
}

/* Right Content */
.right-content {
    width: 55%;
    background: #ddd;
    border: 1px solid black;
    padding: 15px;
}

.description {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.form-section {
    margin-top: 10px;
}

.form-section input {
    margin: 4px 0;
}

/* Footer Title */
.footer-title {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px;
}

/* Footer */
.footer {
    display: flex;
    border-top: 1px solid black;
}

.social-box {
    width: 25%;
    background: #eee;
    border-right: 1px solid black;
    padding: 10px;
}

.social-box img {
    width: 40px;
    vertical-align: middle;
}

.social-box a {
    margin-left: 10px;
}
