body {
    margin: 0;
    font-family: Times New Roman;
    background: url("img/image2.PNG");
    background-size: cover;
}

.container {
    width: 95%;
    margin: auto;
    border: 2px solid #00bfff;
}

/* Navigation */
.nav {
    background-color: #001f3f;
    padding: 10px;
    text-align: center;
}

.nav a {
    color: white;
    margin: 0 25px;
    text-decoration: none;
    font-weight: bold;
}

/* Header */
.header img {
    width: 100%;
    height: 80px;
}

/* Main layout */
.main {
    display: flex;
}

/* Left Section */
.left {
    width: 25%;
    padding: 10px;
    border-right: 2px solid #00bfff;
}

.clothes {
    width: 100%;
}

.coat {
    margin-top: 20px;
    text-align: center;
}

.coat img {
    width: 80%;
}

/* Right Section */
.right {
    width: 75%;
    padding: 15px;
    background-color: #f2f2f2;
}

/* Social Section */
.social {
    display: flex;
    border-top: 2px solid #00bfff;
}

.box {
    width: 25%;
    padding: 10px;
    border-right: 2px solid #00bfff;
    background-color: #f2f2f2;
}

.box img {
    width: 40px;
}
