body {
    margin: 0;
    font-family: Arial;
    background-image: url("img/image2.PNG");
    background-size: cover;
}

.main-container {
    width: 95%;
    margin: auto;
    border: 2px solid #000;
}

.nav {
    background: #001f3f;
    text-align: center;
    padding: 10px;
}

.nav a {
    color: white;
    margin: 0 40px;
    text-decoration: none;
    font-weight: bold;
}

.banner img {
    width: 100%;
    height: 100px;
}

.content {
    display: flex;
    border-top: 2px solid #000;
}

.left {
    width: 25%;
    border-right: 2px solid #000;
    padding: 10px;
}

.left img {
    width: 100%;
}

.coat-section {
    margin-top: 20px;
}

.coat-section h3 {
    color: white;
}

.right {
    width: 75%;
    padding: 10px;
    background: #ddd;
}

.text-section {
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

.form-section {
    padding-top: 10px;
}

.form-section input {
    margin: 3px 0;
}

.social-title {
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-top: 2px solid #000;
}

.social {
    display: flex;
    border-top: 2px solid #000;
}

.social-box {
    width: 25%;
    border-right: 2px solid #000;
    padding: 10px;
    background: #ddd;
}

.social-box img {
    width: 40px;
    vertical-align: middle;
}

.social-box a {
    margin-left: 10px;
}
